*.env
user-data.sh
trust-policy.json
secrets-policy.json

/move/enclave/build
/move/*/build

/src/nautilus-server/target

/tools/mock-nsm/target
/tools/nautilus-local/target
/tools/nautilus-local/kernel-out

/out
/target